

#container{
	background:url('/images/retro-tv.jpg') no-repeat 25% 5%;	
	width:948px;
	height:650px;
	float:left;
}

#map {
	display:none;
}

#canvas{
	position:relative;
	top:12%;
	left:17%;
}

#score-holder{
	float:right;
	clear:right;
}

#score-holder h3{
	border-bottom:1px solid black
}

#score-holder ul#scores{
	list-style-type:none;
	margin:0;
	padding:0;
}

#score-holder ul#scores li span.score{
	font-size:2em;
}

#score-holder ul#scores li span.uuid{
	
}

#score-holder ul#scores li.me{
	background-color:red;
}

#footer{
	float:left;
	margin-left:15%;
	margin-top:2%;
	clear:left;
	text-align:center;
}